<!DOCTYPE html>
    {% load static %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Merchex</title>
        <link rel="stylesheet" href="{% static 'listings/styles.css' %}">
    </head>
    <body>
        <nav>
            <li><a href="{% url 'band-list' %}">Bands</a></li>
            <li><a href="{% url 'listing-list' %}">Listings</a></li>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>