<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Merchex</title>
    </head>
    <body>
        <h1>Hello Django!</h1>
        <p>My favorite bands are:</p>
        <ul>
            {% for band in bands %}
                <li>{{ band.name }}</li>
            {% endfor %}
        </ul>
        <p>I have {{ bands|length }} favorite bands.</p>
        <p>
            I have
            {% if bands|length < 5 %}
                a few
            {% elif bands|length < 10 %}
                some
            {% else %}
                many
            {% endif %}
                favorite bands.
        </p>
    </body>
</html>